{% extends "::base.html.twig" %}

{% form_theme form _self %}
{% block _wowo_bundle_newsletterbundle_newslettertype_mailing_body_widget %}
    {{ form_widget(form, { 'attr': {'class': 'tinymce'}}) }}
{% endblock %}

{% block body %}
    {% if app.session.hasFlash('notice') %}
        <div class="flash-notice">
            {{ app.session.flash('notice') }}
        </div>
    {% endif %}
    <h1>{% trans %}Create mailing{% endtrans %}</h1>
    <form action="" method="post" {{ form_enctype(form) }} >
        {{ form_widget(form) }}
        <input type="submit" value="{% trans %}Send mailing{% endtrans %}"/>
    </form>
    {% if templates|length > 0 %}
        <div>
            <p><strong>Available templates</strong></p>
            <ul>
                {% for key,template in templates %}
                    <li>{{ key }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
